html {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

html::-webkit-scrollbar {
    width: 0px
}

body {
    margin: 0px;
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

a {
    text-decoration: none !important;
}

.side-blog-author .el-card__body {
    padding: 0px !important;
}

.side-blog-author .side-author-banner {
    background-image: url(https://static.ouorz.com/5ccaea1daaf36.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
}

.side-blog-author .side-author-avatar {
    text-align: center;
    margin-bottom: 40px;
}

.side-blog-author .side-author-avatar img {
    width: 100px;
    height: 100px;
    border: 2px solid #eee;
    border-radius: 50%;
    margin-top: -50px;
}

.side-author-info h2 {
    margin: 10px 0 2px 0;
    font-size: 2rem;
}

.side-author-info p {
    margin-top: 0px;
    font-size: 1.2rem;
    color: #888;
    letter-spacing: .3px;
    margin-bottom: 20px;
}

.side-author-info em {
    font-style: normal;
    color: #409eff;
    font-size: 1.1rem;
    border: 1px solid #409eff;
    border-radius: 4px;
    padding: 5px 9px;
}

.stream-card {
    padding: 10px 20px 30px 20px;
    margin-bottom: 20px
}

.stream-card-archive {
    padding: 15px 20px 10px 20px;
    margin-bottom: 20px;
}

.stream-card-archive .archive-post-div {
    display: flex;
}

.stream-card-archive a {
    text-decoration: none;
    color: #333
}

.stream-card-archive h1 {
    margin-bottom: 10px
}

.stream-card-archive p {
    margin: 0px;
    font-size: 1.2rem;
    color: #999;
    letter-spacing: .2px
}

.stream-card img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
    height: auto;
}

.stream-info {
    overflow-y: auto;
    white-space: nowrap;
}

.stream-info em {
    color: rgb(83, 121, 160);
    background: rgb(217, 236, 255);
    padding: 4px 12px;
    font-weight: 600;
    border-radius: 4px;
    font-style: normal;
    font-size: 1.2rem;
    margin-right: 5px;
    line-height: 2.6;
}

.stream-card h1 {
    font-size: 2.2rem;
    margin-top: 0px;
    margin-bottom: -5px;
    color: #333 !important
}

.stream-card p {
    color: #666;
    letter-spacing: .3px;
    font-size: 1.2rem;
}

.stream-view {
    border: 2px solid #03a9f4;
    color: #03a9f4;
    border-radius: 4px;
    padding: 4px 16px;
    font-weight: 500;
    letter-spacing: .2px;
}

.stream-content {
    margin-bottom: 30px;
    color: #666;
}

.stream-content h1,h2,h3,h4,h5,p{
    font-weight: normal;
    letter-spacing: .5px;
}

.side-tags {
    padding: 0px;
}

.side-tags .el-tag {
    margin: 0px 8px 6px 0px;
}

.side-title {
    font-size: 1.6rem;
    line-height: 22px;
    font-weight: 600;
}

.goup-container {
    position: fixed !important;
    width: 45px !important;
    height: 45px !important;
    background: rgb(255, 255, 255) !important;
    cursor: pointer !important;
    z-index: 1 !important;
    bottom: 30px !important;
    right: 30px !important;
    border-radius: 6px !important;
    box-shadow: rgba(26, 26, 26, 0.1) 0px 1px 3px !important;
}

.new-header-div {
    border-bottom: 1px solid #eee;
    height: 55px;
    transition: all .3s;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 9;
    background: #fff;
    padding-top: 5px
}

@media screen and (max-width:767px) {
    .new-header-div {
        display: none;
    }
}

.new-header-div-scoll {
    border-bottom: 1px solid #eee;
    box-shadow: #fff 0 -15px, rgba(0, 0, 0, 0.1) 0 0 15px;
    height: 50px;
    transition: all .3s;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 9;
    background: #fff;
}

.new-header {
    display: flex;
    width: 75%;
    margin: 3px auto 0px auto;
}

.new-header h3 {
    font-size: 1.7rem;
    margin: 0px;
    margin-top: 8px;
    font-weight: 600 !important;
}

.new-header p {
    margin-left: 40px;
    font-size: 1.2rem;
    letter-spacing: .4px;
    color: #777;
    margin-top: 12px;
}

.new-header p a:nth-child(1) {
    border: none;
}

.new-header p a {
    color: #777;
    border-left: 1px solid #eee;
    padding-right: 15px;
    padding-left: 15px;
}

.side-contact-w {
    text-align: center;
    color: #68c23c;
    font-size: 1.2rem;
}

.side-contact-q {
    text-align: center;
    color: #409EFF;
    font-size: 1.2rem;
}

.side-contact-e {
    text-align: center;
    color: #f56c6c;
    font-size: 1.2rem;
}

.side-contact-g {
    text-align: center;
    color: #333;
    font-size: 1.2rem;
}

.side-contact-we {
    text-align: center;
    color: #e6172e;
    font-size: 1.2rem;
}

.side-contact-z {
    text-align: center;
    color: #2c93fe;
    font-size: 1.2rem;
}

.post-h1 {
    margin-bottom: 15px;
    font-size: 2.6rem;
}

.post-p em {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    background: #f2f3f4;
    padding: 4px 10px;
    border-radius: 4px;
    color: #777;
}

.post-p {
    margin: 0px;
    margin-top: 10px;
}

.post-content {
    font-size: 16px;
    line-height: 1.7 !important;
    margin-top: 30px;
    color: #4a4a4a;
    font-weight: 400;
    letter-spacing: .2px;
    padding-bottom: 40px
}

.post-content p {
    color: #4a4a4a;
}

.post-content img {
    max-width: 100%;
    margin: 15px 0px;
    border-radius: 4px;
    height: auto
}

.index-ul .active {
    background: #f7f8f9;
    padding: 6px 0px;
    color: #777;
    font-weight: 500;
    letter-spacing: .5px;
    padding-right: 10px;
}

.index-ul li {
    color: #777;
    padding: 6px 0px;
    letter-spacing: .5px;
    transition: ease-in-out .1s;
    border-color: #e9e9e9;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 10px;
}

.index-ul li a {
    color: inherit;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: .3px
}

.index-ul li:hover {
    background: #f7f8f9;
}

.index-ul {
    margin: 0px;
    list-style: none;
    padding: 10px 0 0 0;
    text-align: center;
}

.index-div {
    border-radius: 6px;
    padding: 20px 0px !important;
    margin-top: 20px
}

.index-div .el-card__body {
    padding: 0px !important;
}

.reading-bar {
    background: rgb(55, 151, 254);
    height: 2px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    transition: all .1s;
}

.blog-container {
    width: 75%;
    margin: 13vh auto;
}

.header-btn {
    padding: 10px 15px;
    margin-top: 4px;
}

.header-dropdown {
    position: absolute;
    right: 12.5%;
}

.baijia-plan p {
    font-size: 1.2rem;
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    transition: all .2s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.baijia-plan p:nth-child(1) {
    margin-top: 0px;
}

.baijia-plan p:hover {
    transform: translateX(5px);
}

.first-stream-card {
    margin-bottom: 10px;
    padding: 1px 20px;
}

.first-stream-card .el-card__body {
    padding: 0px;
}

.first-stream-card h3 {
    float: left;
    font-size: 1.2rem;
    margin-top: 12px;
    color: #666;
    font-weight: 500;
    letter-spacing: .3px;
}

.first-stream-card .el-dropdown {
    float: right;
}

.first-stream-card button {
    padding: 7px 10px;
    margin-top: 8.5px;
}

.archive-banner {
    width: 100%;
    height: 23.5vh;
    background: rgb(248, 249, 250);
    text-align: center;
    padding-top: 11vh;
}

.archive-banner h2 {
    font-size: 2.3rem;
    color: #444;
    margin-bottom: 5px;
}

.archive-banner-badge {
    margin: 0px;
    font-size: 1.2rem;
    color: #999;
    margin-bottom: 20px;
}

.archive-banner-count {
    color: #666;
    font-weight: 600;
    border: 1px solid #777;
    padding: 4px 15px;
    font-style: normal;
    border-radius: 4px;
    letter-spacing: .5px;
}

.archive-post-div .archive-img {
    width: 31%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 4%;
    border-radius: 4px;
}

.comments-list ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.comments-list ul li {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 20px 20px;
    transition: all .2s;
}

.comments-list ul li:hover {
    background: #f7f8f9;
}

.comments-list ul li img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #eee;
}

.comments-info {
    margin-left: 15px;
}

.comments-info .p1 {
    font-size: 1.5rem;
    margin: 0px;
    text-transform: capitalize !important;
}

.comments-info em {
    font-size: 1rem;
    color: #999;
    font-style: normal;
}

.comments-info .p2 {
    margin-top: 2px;
    margin-bottom: 0px;
}

.comments-info .p2 p {
    letter-spacing: .5px;
    color: #444;
    margin: 0px;
}

.comments-send {
    margin: 0px 0px 10px;
    font-size: 1.2rem;
    outline: none;
}

.comments-send .el-textarea__inner {
    padding: 10px 15px;
}

.comments-reply {
    padding-left: 20px;
}

.comments-reply-div {
    border-left: 2px dashed #eee;
    padding-left: 20px !important;
}

.comments-email {
    color: #606266;
    border: 1px solid #DCDFE6;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
}

.comments-name {
    color: #606266;
    border: 1px solid #DCDFE6;
    padding: 10px 15px;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 1rem;
    outline: none;
}

.comments-btn {
    padding: 9px 30px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    float: right;
    letter-spacing: .5px;
    outline: none;
}

.comments-reply-badge {
    font-style: normal;
    font-size: 1rem;
    color: #888;
    border: 1px solid #999;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: -15px;
    display: inline-block;
}

.comments-reply-badge button {
    background: #555;
    color: #fff !important;
    padding: 1px 5px;
    font-style: normal;
    border-radius: 4px;
    margin-left: 5px;
    text-decoration: none;
    border: none;
    outline: none;
    font-size: 1rem;
}

.index-div-scroll {
    position: fixed !important;
    top: 100px !important;
    width: 240px !important;
    transform: translateX(30px) !important;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 20px 0px;
}

.index-div-scroll .el-card__body {
    padding: 0px
}

.side-h2 {
    border-left: 2px solid #333;
    padding-left: 10px;
    color: #333;
    margin: 20px 0px
}

.stream-card-archive-friend {
    padding: 0px;
    width: 30%;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 3.33333%
}

.stream-card-archive-friend:nth-child(3n-2) {
    margin-left: 0px !important;
}

.archive-f-p {
    margin-top: 5px;
    color: #999;
    font-size: 1.2rem;
    letter-spacing: .5px;
}

.archive-f-h1 {
    display: inline-block;
    margin: 0px;
    margin-bottom: 10px;
}

.archive-f-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: -9px;
}

.archive-post-div a {
    color: #333;
    text-decoration: none;
}

.comments-md {
    float: right;
    color: #999;
    font-style: normal;
    margin-bottom: 5px;
    margin-top: 0px;
}

@media screen and (max-width: 850px){
    .blog-container{
        width: 100% !important;
        margin: 0px;
    }
    .el-col-12{
        width: 100% !important;
        padding: 0px !important;
    }
    .side-blog-author{
        display: none;
    }
    .el-col-6{
        display: none;
    }
    .stream-card img{
        height: auto;
    }
    .el-col-7{
        display: none;
    }
    .el-col-17{
        width:100%;
    }
    .post-p{
        line-height: 2.5;
        white-space: nowrap;
        overflow-x: auto;
    }
    .wap-content{
        padding: 0px 10px !important;
    }
    #header{
        display: none;
    }
    .stream-card h1{
        font-size: 2rem;
    }
}