html {
    -ms-overflow-style:none; 
    overflow:-moz-scrollbars-none; 
}
html::-webkit-scrollbar{
    width:0px
}

body {
    margin: 0px;
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

a {
    text-decoration: none !important;
}

.side-blog-author .el-card__body {
    padding: 0px !important;
}

.side-blog-author .side-author-banner {
    background-image: url(https://static.ouorz.com/5ccaea1daaf36.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
}

.side-blog-author .side-author-avatar {
    text-align: center;
    margin-bottom: 40px;
}

.side-blog-author .side-author-avatar img {
    width: 100px;
    height: 100px;
    border: 2px solid #eee;
    border-radius: 50%;
    margin-top: -50px;
}

.side-author-info h2 {
    margin: 10px 0 2px 0;
    font-size: 2rem;
}

.side-author-info p {
    margin-top: 0px;
    font-size: 1.2rem;
    color: #888;
    letter-spacing: .3px;
    margin-bottom: 20px;
}

.side-author-info em {
    font-style: normal;
    color: #409eff;
    font-size: 1.1rem;
    border: 1px solid #409eff;
    border-radius: 4px;
    padding: 5px 9px;
}

.stream-card {
    padding: 10px 20px 30px 20px;
    margin-bottom: 20px
}

.stream-card img{
    width:100%;
    border-radius: 4px;
    margin-bottom: 5px
}

.stream-info {
    overflow-y: auto;
    white-space: nowrap;
}

.stream-info em {
    color: rgb(83, 121, 160);
    background: rgb(217, 236, 255);
    padding: 4px 12px;
    font-weight: 600;
    border-radius: 4px;
    font-style: normal;
    font-size: 1.2rem;
    margin-right: 5px;
    line-height: 2.6;
}

.stream-card h1 {
    font-size: 2.2rem;
    margin-top: 0px;
    margin-bottom: -5px;
    color: #333 !important
}

.stream-card p {
    color: #666;
    letter-spacing: .3px;
    font-size: 1.2rem;
}

.stream-view {
    border: 2px solid #03a9f4;
    color: #03a9f4;
    border-radius: 4px;
    padding: 4px 16px;
    font-weight: 500;
    letter-spacing: .2px;
}

.stream-content {
    margin-bottom: 30px;
}

.side-tags {
    padding: 0px;
}

.side-tags .el-tag {
    margin: 0px 8px 6px 0px;
}

.side-title {
    font-size: 1.6rem;
    line-height: 22px;
    font-weight: 600;
}

.goup-container {
    position: fixed !important;
    width: 45px !important;
    height: 45px !important;
    background: rgb(255, 255, 255) !important;
    cursor: pointer !important;
    z-index: 1 !important;
    bottom: 30px !important;
    right: 30px !important;
    border-radius: 6px !important;
    box-shadow: rgba(26, 26, 26, 0.1) 0px 1px 3px !important;
}

.new-header-div{
    position: fixed;
    top:0;
    width: 100%;
    opacity: 0;
}

@media screen and (max-width:767px) {
    .new-header-div {
        display: none;
    }
}

.new-header-div-scoll {
    box-shadow: #fff 0 -15px, rgba(0, 0, 0, 0.1) 0 0 15px;
    height: 50px;
    transition: all .3s;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 9;
    background: #fff;
    opacity : 1;
}

.new-header{
    display: flex; width: 75%; margin: 3px auto 0px auto;
}

.new-header h3 {
    font-size: 1.7rem;
    margin: 0px;
    margin-top: 8px;
}

.new-header p {
    margin-left: 40px;
    font-size: 1.2rem;
    letter-spacing: .4px;
    color: #777;
    margin-top: 12px;
}

.new-header p a{
    margin-left: 10px;
    color:#777;
}

.side-contact-w{
    text-align: center;
    color: #68c23c;
    font-size: 1.2rem;
}

.side-contact-q{
    text-align: center;
    color: #409EFF;
    font-size: 1.2rem;
}

.side-contact-e{
    text-align: center;
    color: #f56c6c;
    font-size: 1.2rem;
}

.post-h1{
    margin-bottom: 15px;
    font-size: 2.6rem;
}

.post-p em{
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    background: #f2f3f4;
    padding: 4px 10px;
    border-radius: 4px;
    color: #777;
}

.post-p{
    margin: 0px;
    margin-top: 10px;
}

.post-content{
    font-size: 16px;
    line-height: 1.7 !important;
    margin-top:30px;
    color: #4a4a4a;
    font-weight: 400;
    letter-spacing: .2px;
    padding-bottom: 40px
}

.post-content p{
    color: #4a4a4a;
}

.post-content img{
    max-width: 100%;
    margin: 15px 0px;
    border-radius: 4px;
    height: auto
}

.index-ul .active{
    background: #f7f8f9;
    padding: 6px 0px;
    color: #777;
    font-weight: 500;
    letter-spacing: .5px;
    padding-right: 10px;
}

.index-ul li{
    color: #777;
    padding: 6px 0px;
    letter-spacing: .5px;
    transition: ease-in-out .1s;
    border-color: #e9e9e9;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 10px;
}

.index-ul li a{
    color: inherit;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: .3px
}

.index-ul li:hover{
    background: #f7f8f9;
}

.index-ul{
    margin: 0px;
    list-style: none;
    padding: 10px 0 0 0;
    text-align: center;
}

.index-div{
    border-radius: 6px;
    padding: 20px 0px !important;
    margin-top: 20px
}

.index-div .el-card__body{
    padding: 0px !important;
}

.reading-bar{
    background: rgb(55, 151, 254);
    height: 2px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
}
